body {
  display: flex;
  position: relative;
  background-color: blanchedalmond;
}

a {
  text-decoration: none;
  color: darkgreen;
}
a:hover {
  color: fuchsia;
}

#navigationHeader {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 89vw;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 24px;
}
#navigationHeader a {
  color: darkgreen;
}
#navigationHeader a:hover {
  color: fuchsia;
}

.menuButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.size-18 {
  width: 36px;
  height: 36px;
}
.size-18:hover {
  stroke: fuchsia;
}

#intro {
  margin-top: 60px;
}

#mainWrapper {
  width: 80vw;
  height: 90vh;
  overflow: scroll;
  margin-top: 10px;
  margin-left: 20px;
  font-size: larger;
  color: black;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
}

.sectionDividerTitle {
  margin-top: 30px;
  text-align: center;
  padding: 25px 0 25px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* DESTINATIONS FROM JS */

.destinationContainer {
  margin: 40px auto;
}
.destination {
  width: 250px;
  height: 500px;
  overflow: scroll;
  padding: 20px;
  background-color: blanchedalmond;
  border-bottom: black solid 2px;
}
.destination img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.country {
  margin-top: 14px;
  text-align: end;
  font-size: 16px;
  font-family: futura-book;
}

.date {
  text-align: end;
  font-size: 14px;
  font-family: futura-book;
}

/* DESTINATION DETAILS */

#destinationDetailContainer {
  width: 80vw;
  min-height: 500px;
  background-color: white;
  margin: 40px auto 0;
}

/* INPUT FORM */

#h1Form {
  margin: 60px 0 15px;
}

.inputField {
  background-color: white;
  border-style: none;
  margin: 5px;
  padding: 10px 5px 10px 5px;
  width: 75vw;
}

.button {
  background-color: blueviolet;
  border-color: blueviolet;
  margin: 15px 0 20px;
  padding: 10px;
  border-width: 10px;
  border-radius: 15px;
  color: blanchedalmond;
  cursor: pointer;
}
.button:hover {
  background-color: fuchsia;
  border-color: fuchsia;
}

/* ABOUT.HTML  */

.detailPageContainer {
  display: flex;
}

.detailPage {
  width: 80vw;
  background-color: blanchedalmond;
}

.detailPage img {
  display: block;
  margin: 20px 0 0 0;
  width: 80vw;
  object-fit: cover;
}

.moreInfo {
  margin: 40px;
  font-size: 16px;
  width: 65vw;
}

/* ASIDE MENU */

#aside {
  width: 40vw;
  height: 100vh;
  background-color: darkgreen;
  position: fixed;
  right: 0px;
}

#aside.hidden {
  right: -33vw;
}
#asideHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 24px;
  color: blanchedalmond;
}

#buttonHideMenu {
  z-index: 50;
  background-color: darkgreen;
}

#asideMenu {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
}
#asideMenu a {
  color: blanchedalmond;
}

/*DESKTOP starts at 900 px*/

@media only screen and (min-width: 900px) {
  #mainWrapper {
    width: 80vw;
    margin-top: 50px;
    margin-left: 130px;
    font-size: larger;
    color: black;
  }

  #navigationHeader {
    width: 83vw;
  }

  /* DESTINATIONS FROM JS */

  .destinationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .destination {
    width: 250px;
    height: 500px;
    overflow: scroll;
    padding: 20px;
    background-color: blanchedalmond;
    border-bottom: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
  }
  .destination img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  /* INPUT FORM */

  #h1Form {
    width: 39vw;
  }

  .inputField {
    width: 39vw;
  }

  /* ABOUT.HTML  */

  .detailPageContainer {
    display: flex;
  }

  .detailPage {
    width: 80vw;
    padding: 20px;
    background-color: blanchedalmond;
  }

  .detailPage img {
    display: block;
    margin: 0 20px 0 0;
    height: 500px;
    width: auto;
    object-fit: cover;
    float: left;
  }

  /* ASIDE MENU */

  #asideHeader {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 24px;
    color: blanchedalmond;
  }
  #asideMenu {
    margin-left: 90px;
  }
}
